html(lang = "en")
    head
        meta(charset = "UTF-8")
        title Chatroom
        link(rel = "stylesheet", href = "/css/style.css")
        link(rel = "stylesheet", href = "/css/loginOrCreateAccount.css")
        link(rel = "stylesheet", href = "/css/chatroom.css")
        link(rel = "stylesheet", href = "https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css")
        scr
