* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: url('/images/img.png') no-repeat fixed;
    background-size: cover;
    background-position: center;
}